<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<title>Insert title here</title>
<style>
body {
	background-color: #FF5A5A
}
</style>
</head>
<body>
<button onclick="replay()">새로고침</button><button onclick="related()">관련상품</button><button onclick="back()">상품등록</button>	<button onclick="goUserList()">유저페이지</button>
<button onclick="QnaList()">QnaList</button><button onclick="order()">상품관리</button>

<script>
function order(){
	location.href="/orders";
}
function QnaList(){
	location.href="/addqna";
}
function goUserList(){
	location.href="/userlist";
}
function back(){
	location.href="/axios";
}
function related(){
location.href="/relatedProducts";
}
function replay(){
	location.href="/list";
}
</script>

	<center>
		<h1>관리자 페이지입니다.</h1>
		<h2>관리자 테이블</h2>

	</center>

	<div class="container">
		<p>C R U D</p>

		<table class="table">
			<thead>
				<tr>
					<th>id</th>
					<th>title</th>

					<th>price</th>
					<th>disc</th>
					<th>ad</th>
					<th>discounted</th>
					<th>content</th>
					<th style="width: 150">status</th>
					<th>bgImg</th>
					<th>thumb</th>
					<th >Sale</th>
					<th >Best</th>
					<th >New</th>
					<th>기능</th>
				</tr>
			</thead>
			<tbody>
				{{#productList}}
				<tr>
					<td>{{id}} <input type="hidden" id="userid_{{id}}"
						class="userid" name="userid" value="{{id}}" />
					</td>
					<td>{{title}}</td>
					<td>{{price}}</td>
					<td>{{disc}}</td>
					<td>{{ad}}</td>
					<td>{{discounted}}</td>
					<td>{{content}}</td>
					<td>{{categoryId2}}</td>


					<td><img src="{{bgImg}}" alt="없다" style="height: 100px"
						width="100px"/></td>
							<td><img src="{{thumb}}" alt="없다" style="height: 100px"
						width="100px"/></td>
					<td>{{sale2}}</td>
					<td>{{best2}}</td>
					<td>{{newly2}}</td>


					<td>
						<button class="btn-delete" id="bt-delete-{{id}}"
							style="WIDTH: 60pt; HEIGHT: 20pt">삭제하기</button> <br />
						<button type="button" data-toggle="modal"
							data-target="#myModal{{id}}" style="WIDTH: 60pt; HEIGHT: 20pt">수정하기</button>
<br/>
	<form >
						<div class="modal fade" id="myModal{{id}}" tabindex="-1"
							role="dialog" aria-labelledby="myModalLabel">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
										<h4 class="modal-title" id="myModalLabel">회원 정보 수정을 합시다~</h4>
									</div>
									<div class="modal-body">

										<input type="hidden" id="id{{id}}" class="userid"
											name="userid" value="{{id}}" /> <br /> <br /> title :<input
											type="text" id="modaltitle{{id}}" class="modaltitle"
											name="userid" value="{{title}}" /> <br /> <br />

											<input
											type="hidden" id="modalthumb{{id}}" class="modalthumb"
											name="userid" value="{{thumb}}" />

											 text :<input
											type="text" id="modalprice{{id}}" class="modalprice"
											name="userid" value="{{price}}" /> <br /> <br /> disc : <input
											type="text" id="modaldisc{{id}}" class="modaldisc"
											name="userid" value="{{disc}}" /> <br /> <br /> ad : <input
											type="text" id="modalad{{id}}" class="userid" name="userid"
											value="{{ad}}" /> <br /> <br /> disCounted : <input
											type="text" id="modaldiscounted{{id}}" class="userid"
											name="userid" value="{{discounted}}" /> <br /> <br />
										content : <input type="text" id="modalcontent{{id}}"
											class="userid" name="userid" value="{{content}}" /> <br />
										<br />

											<input type="hidden"
											id="modalcategoryId{{id}}" class="userid" name="userid"
											value="{{categoryId}}" />

											<br /> <br />

											<input
											type="hidden" id="modalbgImg{{id}}" class="userid"
											name="userid" value="{{bgImg}}" /> <br />

											 bgimg : <input
											type="file" id="file{{id}}" name="file" class="file"/><br />
										<div class="img_wrap">

											<img id="test{{id}}" class="test" src="{{bgImg}}" style="height: 200px"
												width="200px" />

										</div>

										<br /> <input type="hidden" id="fuck{{id}}" value="null" />

												 thumb : <input
											type="file" id="file2{{id}}" name="file2" class="file2"/><br />
										<div class="img_wrap2">
	<img id="test2{{id}}" class="test2" src="{{thumb}}" style="height: 200px"
												width="200px" />
										</div>

										<br /> <input type="hidden" id="fuck{{id}}" value="null" />

									</div>
									<div class="modal-footer">
										<input class="btn-update" type="button" id="bt-update-{{id}}"
											style="WIDTH: 60pt; HEIGHT: 20pt" value="수정하기"/>
										<button type="button" class="btn btn-default"
											data-dismiss="modal">닫기</button>
									</div>
								</div>
							</div>
						</div>
						</form>







					</td>

				</tr>
				{{/productList}}
			</tbody>
		</table>
	</div>

	<!-- ----------------모달 -------------------- -->

<script>
var sel_file;
$(document).ready(function() {
	$(".file").on("change", handleImgFileSelect3);
});
console.log('file의 값 = ',$(".file").val());
function handleImgFileSelect3(e) {
	var files = e.target.files;
	var filesArr = Array.prototype.slice.call(files);
	filesArr.forEach(function(f) {
		if (!f.type.match("image.*")) {
			alert("확장자는 이미지 확장자만 가능합니다.");
			return;
		}
		sel_file = f;
		var reader = new FileReader();
		reader.onload = function(e) {
			$(".test").attr("src", e.target.result);
		}
		reader.readAsDataURL(f);
	});
}
</script>


<script>
var sel_file2;
$(document).ready(function() {
	$(".file2").on("change", handleImgFileSelect2);
});
console.log('파일2의값 = ',$(".file2").val());
function handleImgFileSelect2(e) {
	var files = e.target.files;
	var filesArr = Array.prototype.slice.call(files);
	filesArr.forEach(function(f) {
		if (!f.type.match("image.*")) {
			alert("확장자는 이미지 확장자만 가능합니다.");
			return;
		}
		sel_file2 = f;
		var reader = new FileReader();
		reader.onload = function(e) {
			$(".test2").attr("src", e.target.result);
		}
		reader.readAsDataURL(f);
	});
}
</script>





</body>

<script src="/js/addmin.js"></script>
</html>