<!DOCTYPE html>
<html lang="en">
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<button onclick="replay()">전체상품</button><button onclick="related()">관련상품</button><button onclick="back()">상품등록</button>	<button onclick="goUserList()">유저페이지</button>
<button onclick="QnaList()">QnaList</button><button onclick="order()">새로고침</button>

<script>
function order(){
	location.href="/orders";
}
function QnaList(){
	location.href="/addqna";
}
function goUserList(){
	location.href="/userlist";
}
function back(){
	location.href="/axios";
}
function related(){
location.href="/relatedProducts";
}
function replay(){
	location.href="/list";
}
</script>


	<div class="container">
		<h2>관리자 오더 페이지</h2>

		<hr />
		<table class="table">
			<thead>
				<tr>
					<th>id</th>
					<th>userid</th>
					<th>orderDate</th>
					<th>totalPrice</th>
					<th>username</th>
					<th>createDate</th>
					<th>address</th>
					<th>detaill_address</th>
					<th>howToPay</th>
					<th>기능</th>
				</tr>
			</thead>
			<tbody>
				{{#orderList}}

				<tr class="warning">

					<td>{{id}}</td>
					<td>{{userId}}</td>
					<td>{{orderDate}}</td>
					<td>{{totalPrice}}</td>
					<td>{{username}}</td>
					<td>{{createDate}}</td>
					<td>{{address}}</td>
					<td>{{detail_address}}</td>
					<td>{{howToPay}}</td>
					<td><input type="hidden" id="id{{id}}" value="{{id}}"> <input type="hidden" id="userId{{id}}" value="{{userId}}"> <input
						type="hidden" id="orderDate{{id}}" value="{{orderDate}}"> <input type="hidden" id="totalPrice{{id}}" value="{{totalPrice}}"> <input
						type="hidden" id="username{{id}}" value="{{username}}"> <input type="hidden" id="createDate{{id}}" value="{{createDate}}"> <input
						type="hidden" id="address{{id}}" value="{{address}}"> <input type="hidden" id="detail_address{{id}}" value="{{detail_address}}">
						<input type="hidden" id="howToPay{{id}}" class="howTopay" value="{{howToPay}}">


						<button class="btn-ViewDetails" id="bt-ViewDetails-{{id}}" style="WIDTH: 60pt; HEIGHT: 20pt">상세보기</button> <br />
<!--

						<button type="button" data-toggle="modal" data-target="#myModal" style="WIDTH: 60pt; HEIGHT: 20pt">상세보기</button> <br />
						<form>
							<div class="modal fade" id="myModal" class="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>

											<h4 class="modal-title" id="myModalLabel">회원 정보 수정을 합시다~</h4>


						<input type="text" id="asd" value="sdf">
											<button onclick="asdfff()">바껴랏!</button>
					<script>
					function asdfff(){
						console.log();
					}
					</script>

										</div>
										<div class="modal-body"></div>
										<div class="modal-footer">
											<input class="btn-update" type="button" id="bt-update-{{id}}" style="WIDTH: 60pt; HEIGHT: 20pt" value="수정하기" />
											<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
										</div>
																				<input type="text" id="asdf" class=".asdf" value="sdf">
						</div>
								</div>
							</div>

						</form>
-->
						</td>

				</tr>

				</div>
				{{/orderList}}


			</tbody>

		</table>

		<div>
			<hr />
			<table class="table">
				<thead>
					<tr>
						<th>id</th>
						<th>구매날짜</th>
						<th>상품여부</th>
						<th>결제방법</th>
						<th>가격</th>
						<th>배송현황</th>
						<th>택배비</th>
						<th>상품명</th>
						<th>주소</th>
						<th>상세주소</th>
					<th>개수</th>
						<th>디테일id</th>

					</tr>
				</thead>
				<tbody id="detail">


				</tbody>
			</table>
		</div>
	</div>


	<script src="/js/addminOrders.js"></script>
	<script type="text/javascript"></script>
</body>
</html>

