<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Contextual Classes</h2>
  <p>Contextual classes can be used to color table rows or table cells. The classes that can be used are: .active, .success, .info, .warning, and .danger.</p>
  <table class="table">
    <thead>
      <tr>
        <th>id</th>
        <th>title</th>
        <th>content</th>
        <th>createDate</th>
        <th>readCount</th>
      </tr>
    </thead>
    <tbody>
      {{#noticeList}}
      <tr class="active">
       <td>{{id}}</td>
        <td>{{title}}</td>
        <td><a href="#" onclick="asdf({{id}})" style="color: black; text-decoration: none;" >{{content}}</a></td>
        <td>{{createDate}}</td>
        <td>{{readCount}}</td>
      </tr>
        {{/noticeList}}
    </tbody>
  </table>

</div>

</body>
<script type="text/javascript">
function asdf(id){
	console.log(id);
	$.ajax({
		type: "GET",
		url: "/selectNotice/"+id,
		data: id, // http body데이터
		contentType: "application/json; charset=utf-8",
	       // enctype: 'multipart/form-data',// body데이터가 어떤 타입인지(MIME)
		dataType: "text" // 요청을 서버로해서 응답이 왔을 때 기본적으로 모든 것이 문자열 (생긴게
							// json이라면) => javascript오브젝트로 변경
	}).done(function(resp){
		console.log(resp);
		alert('성공');
//
			// location.href = "/list";


	}).fail(function(error){
		alert(JSON.stringify(error));
	});
}
</script>
</html>
