<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
</head>


<button onclick="replay()">새로고침</button>
<button onclick="related()">관련상품</button>
<button onclick="back()">전체상품</button>
<button onclick="userlist()">유저리스트</button>
<button onclick="addqna()">QnaList </button>


<script>
	function userlist(){
		location.href="/userlist";
	}
	function addqna(){
		location.href="/addqna";
	}
	function back() {
		location.href = "/list";
	}
	function related() {
		location.href = "/relatedProducts";
	}
	function replay() {
		location.href = "/axios";
	}
</script>

<body onload="init();">

	<h1>관리자 페이지입니다.</h1>
	<form method="post" action="/crud" enctype="multipart/form-data">

		title: <input type="text" id="title" name="title" /><br /> price :<input type="text" id="price" name="price" /><br /> disc : <input type="text"
			id="disc" name="disc" /><br /> sale에 올린다<input type="radio" id="radioSale" name="radioSale" value="true" checked> sale에 안올린다<input
			type="radio" id="radioSale" name="radioSale" value="false"> <br /> discounted가격 : <input type="text" id=discounted name=discounted
			class="radioSale" /><br /> 광고에 올린다 :<input type="radio" id="radioAd" name="radioAd" value=true checked> 광고에 안올린다 :<input type="radio"
			id="radioAd" name="radioAd" value=false checked><br /> content: <input type="text" id="content" name="content" /><br /> 세트상품이다 :<input
			type="radio" id="radioParentTypeId" name="radioParentTypeId" value="2" checked> 개별상품이다 : <input type="radio" id="radioParentTypeId"
			name="radioParentTypeId" value="1" checked><br /> best로 올린다:<input type="radio" id="radioBest" name="radioBest" value=true checked>

		best로 안올린다 : <input type="radio" id="radioBest" name="radioBest" value=false checked><br /> New로 올린다 :<input type="radio" id="radioNew"
			name="radioNew" value=true checked> New로 안올린다 : <input type="radio" id="radioNew" name="radioNew" value=false checked><br /> <br />
		thumb :<input type="file" id="file2" name="file2" required /><br />
		<div class="img_wrap">

			<img id="test2" src="" style="height: 200px" width="200px" />
		</div>

		<br /> bgImg : <input type="file" id="file" name="file" /><br />
		<div class="img_wrap">
			<img id="test" src="" style="height: 200px" width="200px" />
		</div>
		<button type="button" onclick="javascript:encodeImageFileAsURLss()">bgImg 사진미리보기</button>

		<br /> <br /> 관련상품(부모): <select id="parentProductId" name="parentProductId" class="parentProductId">
			<option value="0">관련상품없음</option>
			<option class="hide" value="1">관련상품있음</option>


		</select> <br />
		<span>관련상품(자식): </span> <select id="relateProductId" name="relateProductId" class="relateProductId">
			<option value="0">관련상품없음</option> {{#list}}
			<option value="{{id}}">{{title}}</option> {{/list}}

		</select> <br /> <br /> <br /> <br /> <input type="submit" value="전송합니다">

	</form>
	<script>
function init(){
	$(".relateProductId").hide();
	$("span").hide();
}
$(document).ready(function(){
	if(this.value==0){
		  $(".relateProductId").hide();
			$("span").hide();
	  }
  $(".parentProductId").click(function(){
	  console.log(this.value);
	  if(this.value==0){
		  $(".relateProductId").hide();
	  }
   // $(".relateProductId").hide();
  });
  $(".parentProductId").click(function(){
	  if(this.value==1){
		  $("span").show();
		    $(".relateProductId").show();
	  }
  });
});
</script>


	<script>
		function encodeImageFileAsURLs() {
			var file = $('#file2').prop('files')[0];
			var reader = new FileReader();
			reader.onloadend = function() {
				console.log('RESULT', reader.result);
				$('#fuck').attr('value', reader.result);
				$('#test2').attr('src', reader.result);
			};
			reader.readAsDataURL(file);
		}
	</script>

	<script>
		function encodeImageFileAsURLss() {
			var file = $('#file').prop('files')[0];
			var reader = new FileReader();
			reader.onloadend = function() {
				console.log('RESULT', reader.result);
				$('#fuck').attr('value', reader.result);
				$('#test').attr('src', reader.result);
			};
			reader.readAsDataURL(file);
		}
	</script>
	<script src="/js/addmin.js"></script>

	<script>
var sel_file;
$(document).ready(function() {
	$("#file").on("change", handleImgFileSelect);
});
console.log('file의 값 = ',$("#file").val());
function handleImgFileSelect(e) {
	var files = e.target.files;
	var filesArr = Array.prototype.slice.call(files);
	filesArr.forEach(function(f) {
		if (!f.type.match("image.*")) {
			alert("확장자는 이미지 확장자만 가능합니다.");
			return;
		}
		sel_file = f;
		var reader = new FileReader();
		reader.onload = function(e) {
			$("#test").attr("src", e.target.result);
		}
		reader.readAsDataURL(f);
	});
}
var sel_file2;
$(document).ready(function() {
	$("#file2").on("change", handleImgFileSelect2);
});
console.log('파일2의값 = ',$("#file2").val());
function handleImgFileSelect2(e) {
	var files = e.target.files;
	var filesArr = Array.prototype.slice.call(files);
	filesArr.forEach(function(f) {
		if (!f.type.match("image.*")) {
			alert("확장자는 이미지 확장자만 가능합니다.");
			return;
		}
		sel_file2 = f;
		var reader = new FileReader();
		reader.onload = function(e) {
			$("#test2").attr("src", e.target.result);
		}
		reader.readAsDataURL(f);
	});
}
</script>

</body>
</html>