<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
</head>
<body>
	<h1>관리자 페이지입니다.</h1>
	<form>
		title: <input type="text" id="title" name="title" /><br /> 
		thumb :<input type="text" id="thumb" name="thumb" /><br />
		price :<input type="text" id="price" name="price" /><br />
		 disc : <input type="text" id="disc" name="disc" /><br />
		sale에 올린다<input type="radio" id="radioSale" name="radioSale" value=true checked>
		sale에 안올린다<input type="radio" id="radioSale" name="radioSale" value=false checked>
		<br /> discounted가격 : <input type="text" id=discounted name=discounted/><br />
		광고에 올린다 :<input type="radio" id="radioAd"
			name="radioAd" value=true checked>
			 광고에 안올린다 :<input type="radio"
			id="radioAd" name="radioAd" value=false checked><br />
			
		content: <input type="text" id="content" name="content" /><br />
			세트상품이다 :<input type="radio" id="radioParentTypeId"
			name="radioParentTypeId" value="2" checked>
			 개별상품이다 : <input type="radio"
			id="radioParentTypeId" name="radioParentTypeId" value="1" checked><br />
			
		bgImg<input type="text" id="bgImg" name="bgImg" /><br />
		
		best로 올린다 :<input type="radio" id="radioBest"
			name="radioBest" value=true checked> 
			best로 안올린다 : <input type="radio"
			id="radioBest" name="radioBest" value=false checked><br />
			
			New로 올린다 :<input type="radio" id="radioNew"
			name="radioNew" value=true checked>
			 New로 안올린다 : <input type="radio"
			id="radioNew" name="radioNew" value=false checked><br />

	</form>
<button id="btn-save">올립니다</button>
<script src="/js/addmin.js"></script>
</body>
</html>